canvas.bg-canvas
header.row
    .bg_tile
    a(href="https://www.gazprom-neft.ru/" target="_blank").logo_gazprom
        img(src="img/logo-gazprom.svg" alt="Газпром")
    a(href="https://tass.ru/" target="_blank").logo_tass
        img(src="img/logo_tass.svg" alt="Тасс")
    .head_text
        h1 Ачимовка
        .subtext нефть <br> будущего
    .plus.plus01
    .plus.plus02
    .plus.plus03
    .plus.plus04
    .plus.plus05
    <div id="main-canvas"></div>
section.section01
    .gradient1
    .gradient2
    .bg_tile
    h2
        .text Нефть 
            br 
            | в основе
            br 
            | всего

        span 01
    .text1 Двадцать первый век — эра высоких технологий. Человек научился передавать гигабайты данных за считанные секунды, пересекать полмира за пару часов и даже выращивать растения на обратной стороне Луны. Правда, для всего этого по-прежнему нужно то же, что нашим далеким предкам для решения менее технологичных задач: энергия.
    .text2 Лет десять назад думали, что с развитием возобновляемых источников энергии (ВИЭ) спрос на нефть сойдет на нет, и мировая экономика будет питаться только «зеленой» энергией. Но время расставило всё по местам. Дажеветряки и солнечные батареи не могут обходиться без нефти: из ее производных состоят детали оборудования, а его доставка осуществляется с помощью топлива на основе углеводородов.
    .quote
        .top
            .img 
                img(src="img/human1.png" alt="Айк Назарян")
            .quote_text Перечень предметов, которые не могут быть заменены ВИЭ, огромен. В том числе невозможно производить ветряные турбины, солнечные батареи или гидроэлектростанции без компонентов, получаемых на основе углеводородов. 
        .bot
            .name Айк Назарян
            .position Начальник департамента развития ресурсной базы «Газпром нефть»
    .text3 Доля ВИЭ
        br 
        | в мировом
        br 
        | энергопотреблении
    .text2.text4 В базовом сценарии развития энергетики от Международного энергетического агентства доля ВИЭ к 2040 году увеличится на 5%. При этом доля нефти снизится незначительно и по-прежнему будет составлять 1/3.
    .years
        .year 2018
        .data
            .data-item.data-item1
                .item 
                    span(data-num-old="6" data-num="5") 5%
                    img(src="img/atom.png" alt="")
                .text Атомная энергия
            .data-item.data-item2
                .item
                    span(data-num-old="25" data-num="23")  23%
                    img(src="img/Group 3.png" alt="")
                .text Природный газ
            .data-item.data-item3
                .item 
                    span(data-num-old="17" data-num="12") 12%
                    img(src="img/sun.png" alt="")
                .text ВИЭ
            .data-item.data-item4
                .item 
                    span(data-num-old="23" data-num="27") 27%
                    img(src="img/coal.png" alt="")
                .text Уголь
            .data-item.data-item5
                .item 
                    span(data-num-old="29" data-num="32") 32%
                    img(src="img/oil.png" alt="")
                .text Нефть
    .img1
        img(src="img/img1.png")
    .plus.plus06
    .plus.plus07
    .plus.plus08
    .plus.plus09
    .plus.plus10
    .plus.plus11
    .plus.plus12
    .plus.plus13
    .plus.plus14
    .plus.plus15
    .plus.plus16
    .plus.plus17
    
section.section02
    img(src="img/image1.png" alt="Ханты-Мансийский автономный округ – Югра – один из ключевых регионов нефтедобычи в России.").fullimg
section.section03
    .bg_tile
    .img_subtext Ханты-Мансийский автономный округ – Югра – один из ключевых регионов нефтедобычи в России.
    .text2.text4 По оценкам экспертов, через 10 лет потребность в ВИЭ не превысит и 50% потребности человечества в нефти. «Зеленые» источники энергии, при всех своих плюсах, имеют целый ряд недостатков. 
    .scroll-text
        .scroll-text-sub Во-первых, это пока очень дорого. Например, при строительстве ветряной электростанции необходимо учесть не только начальную стоимость, но и расходы на транспортировку и сохранение энергии. К тому же ветер дует везде по-разному и перед постройкой нужно составить карту ветров, что тоже влияет на стоимость.
        .scroll-text-sub Во-вторых, экологичность этих источников условна. Те же ветряки издают сильный шум и причиняют вред птицам. Другой пример — электромобили. Через несколько лет встанет вопрос утилизации отработавших аккумуляторных батарей – как это делать без вреда для экологии, пока не придумали. И это при том, что к 2040 году доля электроэнергии как источника топлива для транспорта составит не более 5%, тогда как доля нефти не упадет ниже 85%. 
    .text2 К тому же, сравнивая альтернативные источники энергии с углеводородами, нельзя забывать о том, что нефть, газ и продукты их переработки — это не только источники тепловой и электрической энергии, но и сырье для нефте- и газохимии. Пластики, удобрения, стройматериалы, дорожное покрытие – все это мы получаем из углеводородов.
    .text5 Жидкие углеводороды и возобновляемые источники энергии впрямую практически не конкурируют.
    .text2.text6 Вроде бы парадокс, но факт: жидкие углеводороды (нефть и газовый конденсат) и возобновляемые источники энергии впрямую практически не конкурируют. Жидкие углеводороды используются в основном как топливо для транспорта (56%) и в промышленности (29%). А вот в производстве электроэнергии доля нефти не более 5%. Мы живем в период, когда разные источники энергии заняли свои ниши и не мешают друг другу. Развитие возобновляемых источников не означает отказа от нефти, которая по-прежнему стратегически важна для мировой экономики. По прогнозам экспертов, эту роль она будет играть еще много десятков лет. 
    .img2
        img(src="img/img2.png")
    .img3
        img(src="img/img3.png")
    .plus.plus18
    .plus.plus19
    .plus.plus20
    .plus.plus21
    .plus.plus22
    .plus.plus23
    .plus.plus24
    .plus.plus25
section.section-quest.quest1
    .bg_tile
    <div class="part__quiz" id="quiz1">
        <div class="part__quiz__title">Что
            <br> можно
            <br> делать
            <br> из нефти?</div>
        <div class="part__quiz__items">
            <div class="part__quiz__item item1" data-quiz="f">
                <div class="part__quiz__item__mark"></div>
                <div class="part__quiz__item__text">Только бензин. Все виды – от 76-го до суперкачественного 100-го.</div>
            </div>
            <div class="part__quiz__item item2" data-quiz="f">
                <div class="part__quiz__item__mark"></div>
                <div class="part__quiz__item__text">Бензин и дизельное топливо. И все. Но разве этого мало? Без них никуда.</div>
            </div>
            <div class="part__quiz__item item3" data-quiz="f">
                <div class="part__quiz__item__mark"></div>
                <div class="part__quiz__item__text">Все виды топлива, а также битумы для дорог.</div>
            </div>
            <div class="part__quiz__item item4" data-quiz="t">
                <div class="part__quiz__item__mark"></div>
                <div class="part__quiz__item__text">Список бесконечен – от бензина до одежды и косметики и даже аспирин.</div>
            </div>
        </div>
    </div>
section.section-answ.answ1

    <div class="part__answer answer1 false"><span>Не верно! Помимо бензина и авитоплива и битумов из нефти делают даже самые неочевидные вещи: искусственный мех и детские игрушки, тени для век и шампуни, лекарства и жевательные резинки.</span></div>
    <div class="part__answer answer1 true"><span>Все так! Помимо бензина и авитоплива и битумов из нефти делают даже самые неочевидные вещи: искусственный мех и детские игрушки, тени для век и шампуни, лекарства и жевательные резинки.</span></div>
    .plus.plus26
    .plus.plus27
    .fade

section.section01.section04

    .gradient2
    .bg_tile
    h2
        .text Трудноизвлекаемые 
            br 
            | запасы
            

        span 02
    .text2 Последние десятилетия добыча углеводородов становится все более сложной. Традиционные месторождения, которые человечество разрабатывало много десятков лет, почти исчерпаны. При этом труднодоступные глубокие пласты с крайне сложным геологическим строением хранят огромные объемы ТРИЗ, или трудноизвлекаемых запасов. Они почти не тронуты человеком. Чтобы добывать такую «трудную» нефть, нужны принципиально новые подходы. Подобрать технологические ключи к этой «кладовой» нам еще только предстоит.
    .text1 Изменение
        br
        |доли трудноизвлекаемых
        br
        |запасов нефти в РФ
    .text2.text4 Термин «трудноизвлекаемые запасы» появился еще в 70-е годы прошлого века. Это запасы, особенности которых не позволяют организовать рентабельную добычу нефти с помощью прежних технологий. 
        br
        br
        |Если говорить просто, то «трудной» называют нефть, добыча которой требует особых усилий, инвестиций и технологических решений. Это и нетрадиционная нефть (бажен, доманик), для которой пока нет рентабельных технологий добычи, и трудноизвлекаемая, которая находится в сложных для добычи условиях. К ним можно отнести, например, и арктическую нефть, добыча которой осложнена удаленностью месторождений и суровым климатом. 
        br
        |Все это ТРИЗ.
        br
        br
        |В широком смысле к трудноизвлекаемым относятся запасы нефти в низкопроницаемых коллекторах, высоковязкие нефти, остаточные запасы выработанных месторождений, а также подгазовые залежи – то есть все то, для получения чего из недр земли необходимы новые решения. 
    
    .img1#img4_3
        img(src="img/img4_3.png")
    .img1#img4_2
        img(src="img/img4_2.png")
    .img1#img4_1
        img(src="img/img4_1.png")
    
    
    .plus.plus06
    .plus.plus07
    .plus.plus08
    .plus.plus09
    .plus.plus10
    .plus.plus11
    .plus.plus12
    .plus.plus13
    .plus.plus14
    .plus.plus15
    .plus.plus16
    .plus.plus17
    
section.section02.section05
    img(src="img/image2.png" alt="Пальяновское месторождение в ХМАО – центр тестирования технологий для разработки баженовской свиты").fullimg
section.section03.section06

    .bg_tile
    .gradient2
    
    .img_subtext Пальяновское месторождение в ХМАО – центр тестирования технологий для разработки баженовской свиты
    .text2.text4 «Трудная» нефть, как правило, залегает глубже традиционной. Последняя скрыта в песчаных и карбонатных породах, где углеводороды покоятся условно в едином резервуаре и более доступны для добычи. Трудноизвлекаемые же зачастую находятся в разрозненных пластах, например, глин и песчаников с куда более сложной геологией. 
        br
        br
        |ТРИЗ составляют примерно 65% от общего объема всех доказанных запасов нефти в России. В нашей стране доля их добычи лишь начинает нарастать. В США уже сегодня примерно 2/3 нефти добываются из сланцевых пород – они тоже относятся к нетрадиционным ресурсам.      
    
   
    .text2.text6 Большинство ныне известных «трудных» месторождений были открыты еще советскими геологами в 60-е годы прошлого века. Это запасы Баженовской, Абалакской, Фроловской свит Западной Сибири, территории в Карском и Баренцевом морях, районы Сахалина. Но тогда разрабатывать их не было смысла: хватало и легкодоступной нефти, а технических ресурсов для разработки ТРИЗ не было. 
        br
        br
        |Теперь все наоборот: «легкая» нефть кончается,а технологии достаточно развиты. Большие надежды российских нефтяников связаны с Баженовской свитой. Ее запасов хватит на несколько поколений. Но рентабельных технологий добычи этой нетрадиционной нефти сегодня не существует. «Газпром нефть» вплотную приблизилась к созданию рентабельных подходов для добычи баженовской нефти. И уже в 2021 году планирует начать промышленную разработку Бажена.
        br
        br
        |Однако ближайшие перспективы российской нефтедобычи связаны с освоением другого вида «трудных» запасов – с ресурсами Ачимовской толщи. Она расположена непосредственно над Баженом на глубине от 2,5 до 4 км. 
        br
        |По проницаемости (то есть способности проводить нефть, что крайне важно для организации добычи) она в 100 раз сложнее традиционных пород. Поэтому ее освоение требует нестандартных подходов, инвестиций в технологии. 
        br
        |В то же время, отмечают эксперты, ее разработка условно в те же самые 100 раз легче, чем освоение баженовской свиты. Ресурсы ачимовки настолько масштабны, что позволят поддерживать текущий уровень добычи на протяжении многих лет.

    .quote
        .top
            .img 
                img(src="img/human2.png" alt=" Павел Юрьевич Сорокин")
            .quote_text Сегодня доля трудноизвлекаемой нефти превышает 60% в общем объеме доказанных запасов в России. В нераспределенном фонде практически не осталось месторождений «легких» углеводородов. И если десятилетия назад стимулов заниматься дорогостоящей разработкой таких сложных ресурсов в стране не было, то сегодня мы отчетливо понимаем: будущее отрасли связано с освоением «трудной» нефти. 
                br
                br
                |Ачимовская толща, геологические запасы которой могут достигать 60 млрд тонн нефти, является одним из основных ее источников. Современный уровень развития российских технологий открывает отечественным нефтегазодобывающим компаниям доступ к этим ресурсам. Однако запуск полномас-штабной разработки ачимовки еще впереди. 
                br
                |Это задача общегосударственного масштаба. 
                br
                |Ее решение позволит заместить сокращающуюся добычу традиционной нефти, сохранить налоговые поступления в бюджет, месторождения и рабочие места. Минэнерго России считает важным вовлечение в разработку всех ТРИЗ на территории РФ, включая проекты освоения ачимовских залежей. 
        .bot
            .name Павел Юрьевич Сорокин

            .position Заместитель Министра энергетики России
    .img2
        img(src="img/img5.png")
    .img3
        img(src="img/img6.png")
    .img4#img7_1
        img(src="img/img7_1.png")
    .img4#img7_2
        img(src="img/img7_2.png")
    .img4#img7_3
        img(src="img/img7_3.png")
    .img4#img7_4
        img(src="img/img7_4.png")
    .img4#img7_5
        img(src="img/img7_5.png")
    .img4#img7_6
        img(src="img/img7_6.png")
    .img4#img7_7
        img(src="img/img7_7.png")
    .plus.plus18
    .plus.plus19
    .plus.plus20
    .plus.plus21
    .plus.plus22
    .plus.plus23
    .plus.plus24
    .plus.plus25
section.section-quest.quest2
    .bg_tile
    .plus.plus24
    .plus.plus25
    <div class="part__quiz" id="quiz2">
        <div class="part__quiz__title">Итак, эпоха «легкой» нефти позади и добыча углеводородов становится все сложнее. Известно, что первую в мире нефтяную скважину пробурили российские специалисты в Баку в 1846 году. Ее глубина составила всего 21 метр. А на каких глубинах нефть добывают сегодня?
        </div>
        <div class="part__quiz__items">
            <div class="part__quiz__item item1" data-quiz="f">
                <div class="part__quiz__item__mark"></div>
                <div class="part__quiz__item__text">300 метров</div>
            </div>
            <div class="part__quiz__item item2" data-quiz="f">
                <div class="part__quiz__item__mark"></div>
                <div class="part__quiz__item__text">Около 10 км</div>
            </div>
            <div class="part__quiz__item item3" data-quiz="f">
                <div class="part__quiz__item__mark"></div>
                <div class="part__quiz__item__text">Около 3 км</div>
            </div>
            <div class="part__quiz__item item4" data-quiz="t">
                <div class="part__quiz__item__mark"></div>
                <div class="part__quiz__item__text">1 км</div>
            </div>
        </div>
    </div>
section.section-answ.answ2

    <div class="part__answer answer2 false"><span>Оказывается, нет! Последние годы добыча становится сложнее, а глубина залежей все больше. Сегодня средний показатель для России составляет около 3 км! В случае с Ачимовской толщей добыча может вестись и на глубинах около 5 км. При этом «проходка», то есть длина самого ствола скважины (он уходит под землю под углом и с изменением траектории), может превышать семь и даже более километров.</span></div>
    <div class="part__answer answer2 true"><span>Верно! Последние годы добыча становится сложнее, а глубина залежей все больше. Сегодня средний показатель глубины залегания разрабатываемых в России пластов составляет около 3 км!  В случае с Ачимовской толщей нередко добыча может вестись и на глубинах около 5 км. При этом «проходка», то есть длина самого ствола скважины (он уходит под землю под углом и с изменением траектории), может превышать семь и даже более километров.</span></div>
    .plus.plus26
    .plus.plus27
    .fade



section.section01.section07

    .gradient2
    .bg_tile
    h2
        .text Нефтяная 
            br 
            | сокровищница
            br 
            | Сибири
            

        span 03
    .text2 Ачимовские отложения расположены практически под всей территорией Западной Сибири. Общая площадь ачимовских песчаников превышает 920 тыс. кв. км – это примерно две территории Испании или четыре – Великобритании.
        br
        br
        |Разработка ачимовки долгое время рассматривалась только теоретически. Но сокращение традиционных запасов заставило нефтяников обратиться и к этим сложным залежам.

    .img2
        img(src="img/img10.png")
    .showed_text.showed_text1
        .l
            img(src="img/oil.png" alt="")
        .r
            .t 10,4
            .b млрд тонн
                br 
                | нефти
    .showed_text.showed_text2
        .l
            img(src="img/Group 3.png" alt="")
        .r
            .t 4,4
            .b трлн
                br 
                | кубометров
                br 
                | газа
    .showed_text.showed_text3
        .l
            img(src="img/Group 3.png" alt="")
        .r
            .t 1,4
            .b млрд тонн 
                br 
                | газового
                br 
                | конденсата

    
    .text2.text4 Ачимовская толща – это более 100 залежей нефти, газа, конденсата, многие из которых относятся к крупным, а в Самбургско-Уренгойской зоне – к гигантским. Ресурсный потенциал толщи оценивается в 66 млрд тонн нефтяного эквивалента. Геологические запасы – в 10,4 млрд тонн нефти, 4,4 трлн кубометров газа и 1,4 млрд тонн газового конденсата.
    .quote
        .top
            .img 
                img(src="img/human3.png" alt="Вадим Яковлев")
            .quote_text Освоение трудноизвлекаемых запасов углеводородов – не только стратегическая ставка «Газпром нефти», но и наша ежедневная реальность. Сегодня доля ТРИЗ в балансе нашей текущей добычи составляет около 30%, а в структуре запасов – порядка 40%. Много лет мы успешно добываем нефть на арктическом шельфе, из палеозойских залежей и оторочек. 
                br
                br
                |Наше дочернее общество – «Газпромнефть – Технологические партнерства» – является оператором национального проекта по созданию рентабельных технологий разработки баженовской свиты. Одним из важнейших и при этом понятных для нас видом «трудных» ресурсов является ачимовка. «Газпром нефть» первой в отрасли создала концептуальную геологическую модель Ачимовской толщи на площади в 1,5 млн кв. км.  
                br
                br
                |Уже сегодня мы отрабатываем технологии, которые в ближайшей перспективе позволят начать полномасштабную разработку этих залежей. Запуск проекта важен для развития всей отрасли, так как не просто обеспечивает доступ к масштабным запасам нефти, но и дает импульс развитию российским технологиям. Созданные нами решения будут востребованы и для разработки других «трудных» запасов по всей России.                
        .bot
            .name Вадим Яковлев

            .position Заместитель генерального директора по разведке и добыче «Газпром нефти»
    .img1
        img(src="img/img9.png")
    .img3
        img(src="img/img8.png")
    .text8 183
        span тыс
            br
            |кв. км
    .text9 34,4
        span млрд тонн
            br
            |нефти и газа
    
    
    .plus.plus06
    .plus.plus07
    .plus.plus08
    .plus.plus09
    .plus.plus10
    .plus.plus11
    .plus.plus12
    .plus.plus13
    .plus.plus14
    .plus.plus15
    .plus.plus16
    .plus.plus17
    .img_subtext Значительная часть запасов ачимовской толщи сосредоточена в Ямало-Ненецком автономном округе.

section.section02.section08
    img(src="img/image3.png" alt="Значительная часть запасов ачимовской толщи сосредоточена в Ямало-Ненецком автономном округе.").fullimg
section.section-quest.quest3
    .bg_tile
    .plus.plus24
    .plus.plus25
    <div class="part__quiz" id="quiz3">
        <div class="part__quiz__title">Мировая нефтедобыча уже смещается в сторону «трудных» углеводородов. А где в мире сосредоточены основные запасы нетрадиционной нефти?
        </div>
        <div class="part__quiz__items">
            <div class="part__quiz__item item1" data-quiz="f">
                <div class="part__quiz__item__mark"></div>
                <div class="part__quiz__item__text">В США, всем известно про сланцевую революцию</div>
            </div>
            <div class="part__quiz__item item2" data-quiz="f">
                <div class="part__quiz__item__mark"></div>
                <div class="part__quiz__item__text">В Объединенных Арабских Эмиратах, это один из признанных лидеров мирового нефтяного рынка</div>
            </div>
            <div class="part__quiz__item item3" data-quiz="f">
                <div class="part__quiz__item__mark"></div>
                <div class="part__quiz__item__text">В России, площадь большая, статистически и вероятность выше!</div>
            </div>
            <div class="part__quiz__item item4" data-quiz="t">
                <div class="part__quiz__item__mark"></div>
                <div class="part__quiz__item__text">В Китае, вторая экономика мира и ресурсная база одна    из крупнейших</div>
            </div>
        </div>
    </div>
section.section-answ.answ3

    <div class="part__answer answer3 false"><span>Основные запасы «трудной» нефти сосредоточены в России. Крупнейший источник нетрадиционных углеводородов в мире – баженовская свита Западной Сибири. США на втором месте. Китай на третьем, Аргентина на четвертом. Ливия замыкает пятерку. ОАЭ не входят в этот список, так как для них характерны огромные запасы именно традиционной нефти. </span></div>
    <div class="part__answer answer3 true"><span>Основные запасы «трудной» нефти сосредоточены в России. Крупнейший источник нетрадиционных углеводородов в мире – баженовская свита Западной Сибири. США на втором месте. Китай на третьем, Аргентина на четвертом. Ливия замыкает пятерку. ОАЭ не входят в этот список, так как для них характерны огромные запасы именно традиционной нефти. </span></div>
    .plus.plus26
    .plus.plus27

<script src="https://threejs.org/build/three.js"></script>
<script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
<script src="https://code.createjs.com/1.0.0/tweenjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.0/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.min.js"></script>





