header.row
    .bg_tile
    .logo_gazprom
        img(src="img/logo-gazprom.svg" alt="Газпром")
    .logo_tass
        img(src="img/logo_tass.svg" alt="Тасс")
    .head_text
        h1 Ачимовка
        .subtext нефть <br> будущего
    .plus.plus01
    .plus.plus02
    .plus.plus03
    .plus.plus04
    .plus.plus05
section.section01
    .gradient1
    .gradient2
    .bg_tile
    h2
        .text Нефть 
            br 
            | основе
            br 
            | всего

        span 01
    .text1 Двадцать первый век — эра высоких технологий. Человек научился передавать гигабайты данных за считанные секунды, пересекать полмира за пару часов и даже выращивать растения на обратной стороне Луны. Правда, для всего этого по-прежнему нужно то же, что нашим далеким предкам для решения менее технологичных задач: энергия.
    .text2 Лет десять назад думали, что с развитием возобновляемых источников энергии (ВИЭ) спрос на нефть сойдет на нет, и мировая экономика будет питаться только «зеленой» энергией. Но время расставило всё по местам. Дажеветряки и солнечные батареи не могут обходиться без нефти: из ее производных состоят детали оборудования, а его доставка осуществляется с помощью топлива на основе углеводородов.
    .quote
        .top
            .img 
                img(src="img/human1.png" alt="Айк Назарян")
            .quote_text Перечень предметов, которые не могут быть заменены ВИЭ, огромен. В том числе невозможно производить ветряные турбины, солнечные батареи или гидроэлектростанции без компонентов, получаемых на основе углеводородов. 
        .bot
            .name Айк Назарян
            .position Начальник департамента развития ресурсной базы «Газпром нефть»
    .text3 Доля ВИЭ
        br 
        | в мировом
        br 
        | энергопотреблении
    .text2.text4 В базовом сценарии развития энергетики от Международного энергетического агентства доля ВИЭ к 2040 году увеличится на 5%. При этом доля нефти снизится незначительно и по-прежнему будет составлять 1/3.
    .years
        .year 2018
        .data
            .data-item.data-item1
                .item 5%
                .text Атомная энергия
            .data-item.data-item2
                .item 23%
                .text Природный газ
            .data-item.data-item3
                .item 5%
                .text ВИЭ
            .data-item.data-item4
                .item 27%
                .text Уголь
            .data-item.data-item5
                .item 32%
                .text Нефть
    .img1
        img(src="img/img1.png")
    
section.section02
    img(src="img/image1.png" alt="Ханты-Мансийский автономный округ – Югра – один из ключевых регионов нефтедобычи в России.").fullimg
section.section03
    .bg_tile
    .img_subtext Ханты-Мансийский автономный округ – Югра – один из ключевых регионов нефтедобычи в России.
    .text2.text4 По оценкам экспертов, через 10 лет потребность в ВИЭ не превысит и 50% потребности человечества в нефти. «Зеленые» источники энергии, при всех своих плюсах, имеют целый ряд недостатков. 
    .scroll-text
        .scroll-text-sub Во-первых, это пока очень дорого. Например, при строительстве ветряной электростанции необходимо учесть не только начальную стоимость, но и расходы на транспортировку и сохранение энергии. К тому же ветер дует везде по-разному и перед постройкой нужно составить карту ветров, что тоже влияет на стоимость.
        .scroll-text-sub Во-вторых, экологичность этих источников условна. Те же ветряки издают сильный шум и причиняют вред птицам. Другой пример — электромобили. Через несколько лет встанет вопрос утилизации отработавших аккумуляторных батарей – как это делать без вреда для экологии, пока не придумали. И это при том, что к 2040 году доля электроэнергии как источника топлива для транспорта составит не более 5%, тогда как доля нефти не упадет ниже 85%. 
    .text2 К тому же, сравнивая альтернативные источники энергии с углеводородами, нельзя забывать о том, что нефть, газ и продукты их переработки — это не только источники тепловой и электрической энергии, но и сырье для нефте- и газохимии. Пластики, удобрения, стройматериалы, дорожное покрытие – все это мы получаем из углеводородов.
    .text5 Жидкие углеводороды и возобновляемые источники энергии впрямую практически не конкурируют.
    .text2.text6 Вроде бы парадокс, но факт: жидкие углеводороды (нефть и газовый конденсат) и возобновляемые источники энергии впрямую практически не конкурируют. Жидкие углеводороды используются в основном как топливо для транспорта (56%) и в промышленности (29%). А вот в производстве электроэнергии доля нефти не более 5%. Мы живем в период, когда разные источники энергии заняли свои ниши и не мешают друг другу. Развитие возобновляемых источников не означает отказа от нефти, которая по-прежнему стратегически важна для мировой экономики. По прогнозам экспертов, эту роль она будет играть еще много десятков лет. 
section.section-quest
    .bg_tile
section.section-answ





